body{background-color: #a3a3a3;}
div{width: 70%;height: auto; display:flex;margin:18px;margin-top:40px;}
h1{
    margin-left: 40%;}
#hero{
    position: absolute;
    top:90px;
    left:790px;
    height:400px;
}
#villain{
    position: absolute;
    top:110px;
    left:30px;
    height:300px;
}
#lightning{
    position: absolute;
    top:250px;
    left:900px;
    height: 100px;
    width:70px;
}
